@import url(//db.onlinewebfonts.com/c/f7afe66fe9d022d7dc7fd57e4adc078f?family=GT+Walsheim+Pro+Bold);
.purple-one {
  color: #8E44AD; }

.grey-one {
  color: #667085; }

.grey-two {
  color: #475467; }

.black-one {
  color: #475467; }

.bg-grey {
  background-color: #F2F4F7; }

.bg-grey-two {
  background-color: #F9FAFB; }

.accent-orange {
  color: #FF8640; }

.bg-green-one {
  background-color: #039855; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'GT Walsheim Pro', sans-serif; }

.gt-bold {
  font-family: 'GT Walsheim Pro Bold'; }

@font-face {
  font-family: "GT Walsheim Pro Bold";
  src: url("//db.onlinewebfonts.com/t/f7afe66fe9d022d7dc7fd57e4adc078f.eot");
  src: url("//db.onlinewebfonts.com/t/f7afe66fe9d022d7dc7fd57e4adc078f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f7afe66fe9d022d7dc7fd57e4adc078f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f7afe66fe9d022d7dc7fd57e4adc078f.woff") format("woff"), url("//db.onlinewebfonts.com/t/f7afe66fe9d022d7dc7fd57e4adc078f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f7afe66fe9d022d7dc7fd57e4adc078f.svg#GT Walsheim Pro Bold") format("svg"); }

section.section-nav .nav-list {
  color: #667085; }

section.section-nav a:hover,
section.section-nav a:active,
section.section-nav a:focus,
section.section-nav .active {
  color: #fff;
  background-color: #8E44AD;
  border-radius: 5px; }

section.section-nav img {
  width: 3.5rem; }

section header input {
  border: 1px solid #D0D5DD;
  border-radius: 7px;
  width: 18rem; }

section header input:focus {
  border: 1px solid #A3A3A3; }

section header input::placeholder {
  color: #A3A3A3; }

.vehicle {
  height: 25rem;
  border-radius: 20px !important; }

.border-10 {
  border-radius: 30px !important; }

.report {
  box-shadow: 0px 4px 20px rgba(29, 41, 57, 0.1); }

.icon-arrow-left {
  height: 2rem;
  width: 2rem;
  fill: #475467; }

.icon-down-arrow {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: -0.5rem;
  margin-left: -2.7rem;
  fill: #A3A3A3; }

.icon-circle {
  height: 3rem;
  width: 3rem;
  margin-top: -1rem;
  fill: #A3A3A3; }

.logo-l {
  margin-right: -0.8rem;
  transform: scale(1.4); }
