


.purple-one {
    color: #8E44AD;
}


.grey-one   {
    color: #667085;
}

.grey-two   {
    color: #475467;
}

.black-one  {
    color: #475467;
}

.bg-grey    {
    background-color: #F2F4F7;
}

.bg-grey-two    {
    background-color: #F9FAFB;
}

.accent-orange  {
    color: #FF8640;
}

.bg-green-one  {
    background-color: #039855;
}

//#8E44AD

